.login_custom {
    padding-top: 50px;
}

.login_group_custom {
    position: relative;
    padding: 15px 0 0;
    margin-top: 12px;
    padding-bottom: 12px;
    margin-right: 20px;
}

.login_field_custom {
    font-weight: 700;
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown~.login_label_custom {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.login_label_custom {
    font-weight: 700;
    position: absolute;
    top: -10px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #41bbc9;
}

.login_field_custom:focus {
    ~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #41bbc9;
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #41bbc9);
    border-image-slice: 1;
}

.img_login_custom {
    width: 70%;
    display: inline-table;
    transform: translate(15%, 50%);
}